body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(230, 231, 231);
}

hr {
    margin: 0rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

#btn_category {
    background-color: rgb(230, 231, 231);
}

#btn_category:hover {
    background-color: tomato;
    border-radius: 10px;
}

main .card-body .card-text {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#main_container {
    min-height: 65vh;
}

#author img {
    width: 50px;
}